<div class="container">

  <body>
    <h3 id="achievementsText">Your achievements</h3>
    <div class="allAchievements">
      <% achievements.forEach(achievement=> { %>
        <figure id="achievements">
          <div class="achievement-image-container">
            <img class="achievement-image <%= achievement.className %>" src="/images/<%= achievement.image_url %>"
              title="<%= achievement.description %>">
          </div>
          <div class="progress-bar-container">
            <div class="progress-bar <%= getProgressColor(achievement.progress) %>"
              style="width: <%= achievement.progress %>%;" title="<%= achievement.requirement %>"></div>
            <p title="<%= achievement.requirement %>">
              <%= achievement.progress %>%
            </p>
          </div>
          <figcaption id="achievementName">
            <%= achievement.name %>
          </figcaption>
        </figure>
        <% }); %>
    </div>
  </body>
</div>